## Set up

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
PROJ_DIR = '/content/drive/MyDrive/MIDS/AIPI/Diginetica'
# change current directory after mounting
%cd $PROJ_DIR
! ls

/content/drive/MyDrive/MIDS/AIPI/Diginetica
cal_pop.py	      NextItNetModules.py  SA2C_v2new_dg.py  utility.py
data		      preprocessing_dg.py  SASRecModules.py
gen_replay_buffer.py  __pycache__	   split_train.py

In [ ]:
import os

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

## Download and unzip files from [here](https://competitions.codalab.org/competitions/11161#learn_the_details-data2)

In [ ]:
clicks = pd.read_csv('train-clicks.csv', sep = ';')
view = pd.read_csv('train-item-views.csv', sep = ';')
purchase = pd.read_csv('train-purchases.csv', sep = ';')
queries = pd.read_csv('train-queries.csv', sep = ';')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
purchase.head()

   sessionId   userId   timeframe   eventdate  ordernumber  itemId
0        150  18278.0    17100868  2016-05-06        16421   25911
1        151      NaN     6454547  2016-05-06        16290  175874
2        156      7.0  1721689387  2016-05-27        21173   35324
3        179      NaN      343001  2016-05-09        16924   31233
4        246     34.0     2311046  2016-05-09        16936   34677

In [ ]:
view.head()

   sessionId  userId  itemId  timeframe   eventdate
0          1     NaN   81766     526309  2016-05-09
1          1     NaN   31331    1031018  2016-05-09
2          1     NaN   32118     243569  2016-05-09
3          1     NaN    9654      75848  2016-05-09
4          1     NaN   32627    1112408  2016-05-09

In [ ]:
# this is probably used with combination with query data set 
clicks.head()

   queryId  timeframe  itemId
0        1   16338861   24857
1    46255   16404912   30792
2    46689    3831948    8252
3    46731   16273568   33969
4    46748    4058493    7837

## Data Preprocessing

In [ ]:
# check how many records we have for the data that has user id 
print(len(purchase['userId'].notnull()))
print(len(view['userId'].notnull()))

18025
1235380

In [ ]:
# filter out the data where we don't have user id info
only_view = view[view['userId'].notnull()]

In [ ]:
only_view.head()

     sessionId  userId  itemId  timeframe  eventdate  eventdate_unix
164         48     2.0   24764       8863 2016-04-09    1.460160e+09
165         48     2.0   24764     496381 2016-04-09    1.460160e+09
166         48     2.0   24764     265216 2016-04-09    1.460160e+09
167         48     2.0   24764     519975 2016-04-09    1.460160e+09
168         48     2.0   24764     456437 2016-04-09    1.460160e+09

In [ ]:
# change the date to unix timestamp 
only_view['eventdate']= pd.to_datetime(only_view['eventdate'])
only_view['eventdate_unix'] = only_view['eventdate'].apply(lambda x: pd.Timestamp(x).timestamp())

<ipython-input-92-d86a2b162eea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_view['eventdate']= pd.to_datetime(only_view['eventdate'])
<ipython-input-92-d86a2b162eea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_view['eventdate_unix'] = only_view['eventdate'].apply(lambda x: pd.Timestamp(x).timestamp())

In [ ]:
# drop the columns we don't need 
only_view = only_view.copy().drop(['timeframe', 'eventdate', 'sessionId'], axis = 1)
# mark that the customer didn't buy 
only_view['is_buy'] = 0

In [ ]:
# filter out the data where we don't have user id info
only_purchase= purchase[purchase['userId'].notnull()]
only_purchase.head()

   sessionId    userId   timeframe   eventdate  ordernumber  itemId
0        150   18278.0    17100868  2016-05-06        16421   25911
2        156       7.0  1721689387  2016-05-27        21173   35324
4        246      34.0     2311046  2016-05-09        16936   34677
7        322  167422.0     1085316  2016-05-25        20849   69167
8        365      87.0   377426862  2016-02-27         3072   10290

In [ ]:
# change the date to unix timestamp 
only_purchase['eventdate']= pd.to_datetime(only_purchase['eventdate'])
only_purchase['eventdate_unix'] = only_purchase['eventdate'].copy().apply(lambda x: pd.Timestamp(x).timestamp())

<ipython-input-103-6b6e7f213075>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_purchase['eventdate']= pd.to_datetime(only_purchase['eventdate'])
<ipython-input-103-6b6e7f213075>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_purchase['eventdate_unix'] = only_purchase['eventdate'].copy().apply(lambda x: pd.Timestamp(x).timestamp())

In [ ]:
only_purchase.head()

,sessionId,userId,timeframe,eventdate,ordernumber,itemId,eventdate_unix
0,150,18278.0,17100868,2016-05-06,16421,25911,1.462493e+09
2,156,7.0,1721689387,2016-05-27,21173,35324,1.464307e+09
4,246,34.0,2311046,2016-05-09,16936,34677,1.462752e+09
7,322,167422.0,1085316,2016-05-25,20849,69167,1.464134e+09
8,365,87.0,377426862,2016-02-27,3072,10290,1.456531e+09

In [ ]:
# drop the columns we don't need 
only_purchase = only_purchase.copy().drop(['timeframe', 'eventdate', 'ordernumber', 'sessionId'], axis = 1)
only_purchase['is_buy'] = 1

In [ ]:
# merge two data frame 
all_event = pd.concat([only_purchase, only_view], ignore_index=True, axis=0)
# check the data is correctly merged 
assert(only_purchase.shape[0] + only_view.shape[0] == all_event.shape[0])

In [ ]:
# create one hot encoded vectors 

item_encoder = LabelEncoder()
user_encoder= LabelEncoder()
all_event['itemId'] = item_encoder.fit_transform(all_event.itemId)
all_event['userId'] = user_encoder.fit_transform(all_event.userId)

In [ ]:
# rename column to be consistent with retail rocket dataset 
all_event.rename(columns = {'userId':'session_id', 'itemId':'item_id', 'eventdate_unix':'timestamp'}, inplace = True)
sorted_events = all_event.sort_values(by=['session_id', 'timestamp'])

In [ ]:
# save as df file 
sorted_events.to_pickle('diginetica_sorted_events.pkl')

In [ ]:
sorted_events.to_pickle('diginetica_sorted_events.df')

## Prepare to run the DRL Model

In [ ]:
# pre-process the files to the format we want 
# this is the same outcome as the ones in the final pickle cell above 
!python preprocessing_dg.py

preprocessing_dg.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_view['eventdate']= pd.to_datetime(only_view['eventdate'])
preprocessing_dg.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_view['eventdate_unix'] = only_view['eventdate'].apply(lambda x: pd.Timestamp(x).timestamp())
preprocessing_dg.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_purchase['eventdate']= pd.to_datetime(only_purchase['eventdate'])
preprocessing_dg.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  only_purchase['eventdate_unix'] = only_purchase['eventdate'].copy().apply(lambda x: pd.Timestamp(x).timestamp())

In [ ]:
# split the data into training data and validation data 
!python split_train.py

In [ ]:
# test the generate replay buffer file for DRL model 
!python gen_replay_buffer.py

In [ ]:
# calculate item popularity 
!python cal_pop.py

0.0
1.0
2.0
3.0

In [1]:
# install packages 
!pip install pandas trfl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Collecting trfl
  Downloading trfl-1.2.0-py3-none-any.whl (104 kB)
     |████████████████████████████████| 104 kB 5.3 MB/s
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.8/dist-packages (from trfl) (1.14.1)
Requirement already satisfied: absl-py in /usr/local/lib/python3.8/dist-packages (from trfl) (1.3.0)
Requirement already satisfied: dm-tree in /usr/local/lib/python3.8/dist-packages (from trfl) (0.1.7)
Installing collected packages: trfl
Successfully installed trfl-1.2.0

## Run the model

In [5]:
!python SA2C_v2new_dg.py --model=GRU --epoch=15

SA2C_v2new_dg.py:88: UserWarning: `tf.nn.rnn_cell.GRUCell` is deprecated and will be removed in a future version. This class is equivalent as `tf.keras.layers.GRUCell`, and will be replaced by that in Tensorflow 2.0.
  tf.compat.v1.nn.rnn_cell.GRUCell(self.hidden_size),
WARNING:tensorflow:From SA2C_v2new_dg.py:87: dynamic_rnn (from tensorflow.python.ops.rnn) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `keras.layers.RNN(cell)`, which is equivalent to this API
WARNING:tensorflow:From SA2C_v2new_dg.py:87: dynamic_rnn (from tensorflow.python.ops.rnn) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `keras.layers.RNN(cell)`, which is equivalent to this API
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/keras/layers/rnn/legacy_cells.py:545: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/keras/layers/rnn/legacy_cells.py:545: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/keras/layers/rnn/legacy_cells.py:555: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/keras/layers/rnn/legacy_cells.py:555: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
2022-12-14 07:41:26.102425: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
SA2C_v2new_dg.py:215: UserWarning: `tf.layers.dense` is deprecated and will be removed in a future version. Please use `tf.keras.layers.Dense` instead.
  self.output1 = tf.compat.v1.layers.dense(self.states_hidden, self.item_num,
SA2C_v2new_dg.py:218: UserWarning: `tf.layers.dense` is deprecated and will be removed in a future version. Please use `tf.keras.layers.Dense` instead.
  self.output2= tf.compat.v1.layers.dense(self.states_hidden, self.item_num,
the loss in 200th batch is: 10.748344
the loss in 400th batch is: 10.499996
the loss in 600th batch is: 10.352705
the loss in 800th batch is: 10.351613
the loss in 1000th batch is: 10.390453
the loss in 1200th batch is: 10.068806
the loss in 1400th batch is: 10.061825
the loss in 1600th batch is: 9.659758
the loss in 1800th batch is: 9.634104
the loss in 2000th batch is: 9.610437
the loss in 2200th batch is: 9.743882
the loss in 2400th batch is: 9.345222
the loss in 2600th batch is: 8.915138
the loss in 2800th batch is: 8.635788
the loss in 3000th batch is: 9.104366
the loss in 3200th batch is: 8.825546
the loss in 3400th batch is: 8.928502
the loss in 3600th batch is: 8.831181
the loss in 3800th batch is: 8.891500
the loss in 4000th batch is: 8.516199
#############################################################
total clicks: 36881, total purchase:642
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 5: 1905.600000
clicks hr ndcg @ 5 : 0.251566, 0.193654
purchase hr and ndcg @5 : 0.077882, 0.064234
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 10: 2310.400000
clicks hr ndcg @ 10 : 0.304818, 0.210810
purchase hr and ndcg @10 : 0.096573, 0.070286
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 15: 2525.600000
clicks hr ndcg @ 15 : 0.333044, 0.218297
purchase hr and ndcg @15 : 0.107477, 0.073142
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 20: 2682.200000
clicks hr ndcg @ 20 : 0.353597, 0.223154
purchase hr and ndcg @20 : 0.115265, 0.075003
off-line corrected evaluation (click_ng,purchase_ng)@10: 0.080013, 0.026181
#############################################################
the loss in 4200th batch is: 8.373159
the loss in 4400th batch is: 8.254755
the loss in 4600th batch is: 8.135340
the loss in 4800th batch is: 8.189835
the loss in 5000th batch is: 7.774597
the loss in 5200th batch is: 7.870254
the loss in 5400th batch is: 7.620072
the loss in 5600th batch is: 7.812053
the loss in 5800th batch is: 7.790266
the loss in 6000th batch is: 7.718062
the loss in 6200th batch is: 7.828054
the loss in 6400th batch is: 7.395987
the loss in 6600th batch is: 7.368977
the loss in 6800th batch is: 7.408650
the loss in 7000th batch is: 7.064222
the loss in 7200th batch is: 7.173712
the loss in 7400th batch is: 6.904974
the loss in 7600th batch is: 6.998977
the loss in 7800th batch is: 6.740511
the loss in 8000th batch is: 6.494091
#############################################################
total clicks: 36881, total purchase:642
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 5: 3224.600000
clicks hr ndcg @ 5 : 0.424826, 0.340947
purchase hr and ndcg @5 : 0.141745, 0.121659
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 10: 3697.600000
clicks hr ndcg @ 10 : 0.486240, 0.360896
purchase hr and ndcg @10 : 0.172897, 0.131700
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 15: 3937.800000
clicks hr ndcg @ 15 : 0.516499, 0.368925
purchase hr and ndcg @15 : 0.199377, 0.138676
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 20: 4104.400000
clicks hr ndcg @ 20 : 0.538272, 0.374070
purchase hr and ndcg @20 : 0.208723, 0.140846
off-line corrected evaluation (click_ng,purchase_ng)@10: 0.235152, 0.133746
#############################################################
the loss in 8200th batch is: 6.837177
the loss in 8400th batch is: 6.742836
the loss in 8600th batch is: 6.747865
the loss in 8800th batch is: 6.694121
the loss in 9000th batch is: 6.606839
the loss in 9200th batch is: 6.677166
the loss in 9400th batch is: 6.731935
the loss in 9600th batch is: 6.432601
the loss in 9800th batch is: 6.428459
the loss in 10000th batch is: 6.356183
the loss in 10200th batch is: 6.115824
the loss in 10400th batch is: 6.336024
the loss in 10600th batch is: 6.529389
the loss in 10800th batch is: 5.789618
the loss in 11000th batch is: 6.149265
the loss in 11200th batch is: 6.214903
the loss in 11400th batch is: 6.011944
the loss in 11600th batch is: 6.075632
the loss in 11800th batch is: 6.020493
the loss in 12000th batch is: 5.758877
#############################################################
total clicks: 36881, total purchase:642
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 5: 3967.400000
clicks hr ndcg @ 5 : 0.518207, 0.423007
purchase hr and ndcg @5 : 0.225857, 0.191810
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 10: 4434.800000
clicks hr ndcg @ 10 : 0.578319, 0.442562
purchase hr and ndcg @10 : 0.263240, 0.203744
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 15: 4665.600000
clicks hr ndcg @ 15 : 0.607847, 0.450402
purchase hr and ndcg @15 : 0.283489, 0.209077
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 20: 4811.600000
clicks hr ndcg @ 20 : 0.626691, 0.454864
purchase hr and ndcg @20 : 0.294393, 0.211603
off-line corrected evaluation (click_ng,purchase_ng)@10: 0.362849, 0.237238
#############################################################
the loss in 12200th batch is: 5.589810
the loss in 12400th batch is: 5.827332
the loss in 12600th batch is: 6.298832
the loss in 12800th batch is: 6.124780
the loss in 13000th batch is: 5.359099
the loss in 13200th batch is: 5.675688
the loss in 13400th batch is: 5.800630
the loss in 13600th batch is: 5.468759
the loss in 13800th batch is: 5.733549
the loss in 14000th batch is: 5.616900
the loss in 14200th batch is: 5.571535
the loss in 14400th batch is: 5.348728
the loss in 14600th batch is: 5.100130
the loss in 14800th batch is: 5.662639
the loss in 15000th batch is: 5.526752
the loss in 15200th batch is: 1.296537
the loss in 15400th batch is: 1.355726
the loss in 15600th batch is: 1.113374
the loss in 15800th batch is: 1.038203
the loss in 16000th batch is: 0.997893
#############################################################
total clicks: 36881, total purchase:642
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 5: 3914.600000
clicks hr ndcg @ 5 : 0.508202, 0.415226
purchase hr and ndcg @5 : 0.258567, 0.202901
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 10: 4385.600000
clicks hr ndcg @ 10 : 0.569887, 0.435264
purchase hr and ndcg @10 : 0.283489, 0.211096
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 15: 4613.000000
clicks hr ndcg @ 15 : 0.599360, 0.443080
purchase hr and ndcg @15 : 0.299065, 0.215147
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 20: 4768.000000
clicks hr ndcg @ 20 : 0.618882, 0.447692
purchase hr and ndcg @20 : 0.316199, 0.219172
off-line corrected evaluation (click_ng,purchase_ng)@10: 0.324109, 0.223407
#############################################################
the loss in 16200th batch is: 1.043897
the loss in 16400th batch is: 0.973136
the loss in 16600th batch is: 0.868372
the loss in 16800th batch is: 0.948442
the loss in 17000th batch is: 0.967659
the loss in 17200th batch is: 0.862753
the loss in 17400th batch is: 0.830456
the loss in 17600th batch is: 0.923737
the loss in 17800th batch is: 0.847764
the loss in 18000th batch is: 0.905879
the loss in 18200th batch is: 0.821937
the loss in 18400th batch is: 0.802179
the loss in 18600th batch is: 0.936727
the loss in 18800th batch is: 0.748286
the loss in 19000th batch is: 0.817290
the loss in 19200th batch is: 0.867206
the loss in 19400th batch is: 0.824769
the loss in 19600th batch is: 0.752594
the loss in 19800th batch is: 0.693314
the loss in 20000th batch is: 0.762343
#############################################################
total clicks: 36881, total purchase:642
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 5: 3789.200000
clicks hr ndcg @ 5 : 0.491201, 0.403196
purchase hr and ndcg @5 : 0.258567, 0.217056
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 10: 4249.800000
clicks hr ndcg @ 10 : 0.551070, 0.422659
purchase hr and ndcg @10 : 0.288162, 0.226836
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 15: 4459.000000
clicks hr ndcg @ 15 : 0.578753, 0.430018
purchase hr and ndcg @15 : 0.295950, 0.228912
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cumulative reward @ 20: 4591.600000
clicks hr ndcg @ 20 : 0.596052, 0.434113
purchase hr and ndcg @20 : 0.303738, 0.230735
off-line corrected evaluation (click_ng,purchase_ng)@10: 0.261156, 0.208096
#############################################################
the loss in 20200th batch is: 0.847362
the loss in 20400th batch is: 0.811510
the loss in 20600th batch is: 0.738192
the loss in 20800th batch is: 0.745916
the loss in 21000th batch is: 0.834039
the loss in 21200th batch is: 0.719931
the loss in 21400th batch is: 0.772554
the loss in 21600th batch is: 0.685539
the loss in 21800th batch is: 0.705076
the loss in 22000th batch is: 0.776961
the loss in 22200th batch is: 0.636633